<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `mi-app`
     * padre
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiApp extends Polymer.Element {
      static get is() { return 'mi-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-app'
          }
        };
      }
    }

    window.customElements.define(MiApp.is, MiApp);
  </script>
</dom-module>
