<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../mis-tablas/mis-tablas.html">
<link rel="import" href="../information-card/information-card.html">
<link rel="import" href="../check-list/check-list.html">
<link rel="import" href="../mi-cryptoinfo/mi-cryptoinfo.html">
<link rel="import" href="../mi-succes/mi-succes.html">




<dom-module id="mi-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hola [[prop1]]!</h2>
   
   
   <h2>trast</h2>
    <mis-tablas></mis-tablas>
    <h1>information-card</h1>
    <information-card></information-card>
    <h2>check-list</h2>
    <check-list></check-list>
    <h2>mi-cryptoinfo</h2>
    <mi-cryptoinfo></mi-cryptoinfo>
    <h2>mi-succes</h2>
    <mi-succes></mi-succes>
    

    <mi-prueba></mi-prueba>

  </template>

  <script>
    /**
     * `mi-app`
     * padre
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiApp extends Polymer.Element {
      static get is() { return 'mi-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-app'
          }
        };
      }
    }

    window.customElements.define(MiApp.is, MiApp);
  </script>
</dom-module>
